.userContainer {
    width: 100%;
    min-height: 90vh;
    background-color: $color-grey-dark-3;
    padding-top: 2.5rem;
}

.userCard {
    width: 90%;
    margin: 0rem auto;
    border-radius: 3px;
}
